<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-7 login-sec">
        <div class="row">

          <h4 class="text-center">Czego szukasz?</h4>
          <form class="login-form" #addForm="ngForm">
            <div class="form-group row">
              <div class="col-md-6">
                <label for="type" class="text-uppercase">Typ Nadwozia</label>
                <select class="form-select" id="type" aria-label="Default select example">
                  <option *ngFor="let bodyType of bodyTypes" [ngValue]="bodyType.id">{{ bodyType.name }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="gas" class="text-uppercase">Paliwo</label>
                <select class="form-select" id="gas" aria-label="Default select example">
                  <option *ngFor="let typeEngine of typeEngines"
                          [ngValue]="typeEngine.id">{{ typeEngine.name }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="marka" class="text-uppercase">Marka</label>
                <select name="Brand" class="form-select" id="marka" aria-label="Default select example"
                        [(ngModel)]="idBrandSelector" (ngModelChange)="getModel($event)">
                  <option *ngFor="let brand of brands" [ngValue]="brand.id" [selected]="brand">{{ brand.name }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="model" class="text-uppercase">Model</label>
                <select name="model" class="form-select" id="model" aria-label="Default select example"
                        [(ngModel)]="idModelSelector" [disabled]="!disabledModel"
                        (ngModelChange)="getGeneration($event)">
                  <option *ngFor="let model of models" [ngValue]="model.id">{{ model.name }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="model" class="text-uppercase">Generacja</label>
                <select class="form-select" id="generation" aria-label="Default select example"
                        [disabled]="!disabledGeneration">
                  <option *ngFor="let generation of generations"
                          [ngValue]="generation.id">{{ generation.name }}</option>
                </select>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <label class="text-uppercase">Cena</label>
                  <div class="col-md-6">
                    <input type="number" id="priceFrom" name="priceFrom" class="form-control" placeholder="od">
                  </div>
                  <div class="col-md-6">
                    <input type="number" id="priceTo" name="priceTo" class="form-control" placeholder="do">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <label class="text-uppercase">Przebieg</label>
                  <div class="col-md-6">
                    <input type="number" id="mileageFrom" name="mileageFrom" class="form-control" placeholder="od">
                  </div>
                  <div class="col-md-6">
                    <input type="number" id="mileageTo" name="mileageTo" class="form-control" placeholder="do">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <label class="text-uppercase">Produkcja</label>
                  <div class="col-md-6">
                    <input type="number" id="productionFrom" name="productionFrom" class="form-control"
                           placeholder="od">
                  </div>
                  <div class="col-md-6">
                    <input type="number" id="productionTo" name="productionTo" class="form-control" placeholder="do">
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-login float-end mt-2">Szukaj</button>
          </form>
        </div>
      </div>
      <div class="col-md-5 banner-sec">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://images.pexels.com/photos/451590/pexels-photo-451590.jpeg?cs=srgb&dl=pexels-jeshootscom-451590.jpg&fm=jpg"
                class="d-block w-100 h-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://images.pexels.com/photos/3311574/pexels-photo-3311574.jpeg?cs=srgb&dl=pexels-garvin-st-villier-3311574.jpg&fm=jpg"
                class="d-block w-100 h-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="https://images.pexels.com/photos/1149056/pexels-photo-1149056.jpeg?cs=srgb&dl=pexels-scosche-1149056.jpg&fm=jpg"
                class="d-block w-100 h-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
