<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="login-sec">
        <div class="row">
          <h3 class="col-9 p-3">Title</h3>
          <h3 class="col-3 p-3 price">Cena: 50 000 zł</h3>
        </div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://images.pexels.com/photos/1149056/pexels-photo-1149056.jpeg?cs=srgb&dl=pexels-scosche-1149056.jpg&fm=jpg"
                class="d-block w-100 h-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="details pt-4">
          <h4>Szczegóły</h4>
          <div class="row">
            <p class="col-3">Marka</p>
            <p class="col-3"></p>
            <p class="col-3">Uszkodzony</p>
            <p class="col-3"></p>
          </div>
          <div class="row">
            <p class="col-3">Model</p>
            <p class="col-3"></p>
            <p class="col-3">Typ</p>
            <p class="col-3"></p>
          </div>
          <div class="row">
            <p class="col-3">Rok produkcji</p>
            <p class="col-3"></p>
            <p class="col-3">Liczba drzwi</p>
            <p class="col-3"></p>
          </div>
          <div class="row">
            <p class="col-3">Przebieg</p>
            <p class="col-3"></p>
            <p class="col-3">Liczba miejsc</p>
            <p class="col-3"></p>
          </div>
          <div class="row">
            <p class="col-3">Pojemność</p>
            <p class="col-3"></p>
            <p class="col-3">Kolor</p>
            <p class="col-3"></p>
          </div>
          <div class="row">
            <p class="col-3">Rodzaj paliwa</p>
            <p class="col-3"></p>
            <p class="col-3">Numer rejestracji</p>
            <p class="col-3"></p>
          </div>
          <div class="row">
            <p class="col-3">Moc</p>
            <p class="col-3"></p>
            <p class="col-3">Pierwsza rejestracja</p>
            <p class="col-3"></p>
          </div>
          <div class="row">
            <p class="col-3">Skrzynia biegów</p>
            <p class="col-3"></p>
            <p class="col-3">VIN</p>
            <p class="col-3"></p>
          </div>
        </div>

        <div class="describe">
          <h4>Opis</h4>
          <p>lore, ipsum dolor sit amet, consectet </p>
        </div>

        <div class="contact">
          <h4>Kontakt</h4>
          <div class="row">
            <p class="col-3">Adres</p>
            <p class="col-3"></p>
            <p class="col-3">Telefon</p>
            <p class="col-3"></p>
          </div>
        MAPA
        </div>

      </div>
    </div>
  </div>
</section>
