<div class="background">
  <section class="block">
    <div class="container">
      <div class="row">
        <div class="login-sec">
          <form class="login-form" #addForm="ngForm" (ngSubmit)="getAnnouncements(addForm)">
            <div class="form-group row">
              <div class="col-md-3">
                <label for="type" class="text-uppercase">Typ Nadwozia</label>
                <select class="form-select" ngModel name="bodyType" id="type" aria-label="Default select example">
                  <option *ngFor="let bodyType of bodyTypes" [ngValue]="bodyType.id">{{ bodyType.name }}</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="gas" class="text-uppercase">Paliwo</label>
                <select class="form-select" ngModel name="gas" id="gas" aria-label="Default select example">
                  <option *ngFor="let typeEngine of typeEngines"
                          [ngValue]="typeEngine.id">{{ typeEngine.name }}</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="marka" class="text-uppercase">Marka</label>
                <select name="mark" class="form-select" id="marka" aria-label="Default select example"
                        [(ngModel)]="idBrandSelector" (ngModelChange)="getModel($event)">
                  <option *ngFor="let brand of brands" [ngValue]="brand.id">{{ brand.name }}</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="model" class="text-uppercase">Model</label>
                <select name="model" class="form-select" id="model" aria-label="Default select example"
                        [(ngModel)]="idModelSelector" [disabled]="!disabledModel"
                        (ngModelChange)="getGeneration($event)">
                  <option *ngFor="let model of models" [ngValue]="model.id">{{ model.name }}</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="model" class="text-uppercase">Generacja</label>
                <select class="form-select" ngModel name="generation" id="generation"
                        aria-label="Default select example"
                        [disabled]="!disabledGeneration">
                  <option *ngFor="let generation of generations"
                          [ngValue]="generation.id" ngModel>{{ generation.name }}</option>
                </select>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <label class="text-uppercase">Cena</label>
                  <div class="col-md-6">
                    <input type="number" id="priceFrom" ngModel name="priceFrom" class="form-control" placeholder="od">
                  </div>
                  <div class="col-md-6">
                    <input type="number" id="priceTo" ngModel name="priceTo" class="form-control" placeholder="do">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <label class="text-uppercase">Przebieg</label>
                  <div class="col-md-6">
                    <input type="number" id="mileageFrom" ngModel name="mileageFrom" class="form-control"
                           placeholder="od">
                  </div>
                  <div class="col-md-6">
                    <input type="number" id="mileageTo" ngModel name="mileageTo" class="form-control" placeholder="do">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <label class="text-uppercase">Produkcja</label>
                  <div class="col-md-6">
                    <input type="number" id="productionFrom" ngModel name="productionFrom" class="form-control"
                           placeholder="od">
                  </div>
                  <div class="col-md-6">
                    <input type="number" id="productionTo" ngModel name="productionTo" class="form-control"
                           placeholder="do">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="location" class="text-uppercase">Lokalizacja</label>
                <input class="form-control" id="location" ngModel name="location" aria-label="Default select example">
              </div>
              <div class="col-md-3">
                <div class="row">
                  <label class="text-uppercase">Moc</label>
                  <div class="col-md-6">
                    <input type="number" id="powerFrom" ngModel name="productionFrom" class="form-control"
                           placeholder="od">
                  </div>
                  <div class="col-md-6">
                    <input type="number" id="powerTo" ngModel name="productionTo" class="form-control" placeholder="do">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <label class="text-uppercase">Pojemność</label>
                  <div class="col-md-6">
                    <input type="number" id="combustionFrom" ngModel name="productionFrom" class="form-control"
                           placeholder="od">
                  </div>
                  <div class="col-md-6">
                    <input type="number" id="combustionTo" ngModel name="productionTo" class="form-control"
                           placeholder="do">
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="transmission" class="text-uppercase">Skrzynia biegów</label>
                <select class="form-select" ngModel name="transmission" id="transmission"
                        aria-label="Default select example" required>
                  <option [ngValue]="1">Manualna</option>
                  <option [ngValue]="2">Automatyczna</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="seats" class="text-uppercase">Liczba miejsc</label>

                <input type="number" id="seats" ngModel name="seats" class="form-control">

              </div>
              <div class="col-md-3">
                <label for="doors" class="text-uppercase">Liczba drzwi</label>
                <input type="number" id="doors" ngModel name="doors" class="form-control">
              </div>
            </div>
            <button type="submit" class="btn btn-login float-end mt-2">Szukaj</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="block">
    <div class="container">
      <div class="row">
        <div class="login-sec">
          <h3>Ogłoszenia</h3>
          <div class="pt-3" *ngFor="let announcement of announcements">
            <a routerLink="/ogloszenia/{{announcement.id}}">
              <div class="row announcement-board">
                <img
                  src="{{announcement.imageUrl}}"
                  class="announcement-image col-3" alt="...">
                <div class="col-9">
                  <div class="row">
                    <h4 class="col-8">{{announcement.title}}</h4>
                    <p class="col-3 price">Cena: {{announcement.price}}zł</p>
                    <p class="info">{{announcement.mark}} {{announcement.model}}</p>
                    <p class="info">Wyprodukowany: {{announcement.year_of_production}}
                    <p class="info">Przebieg: {{announcement.mileage}}</p>
                    <p class="info">Pojemność silnika {{announcement.capacity}}</p>
                    <p class="info">Rodzaj paliwa: {{announcement.gas}}</p>
                    <p class="info">Lokalizacja: {{announcement.location}}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>

<!--          <div class="pt-4 ">-->
<!--            <nav aria-label="...">-->
<!--              <ul class="pagination justify-content-center">-->
<!--                <li class="page-item disabled">-->
<!--                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Wcześniejsza</a>-->
<!--                </li>-->
<!--                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                <li class="page-item active" aria-current="page">-->
<!--                  <a class="page-link" href="#">2</a>-->
<!--                </li>-->
<!--                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                <li class="page-item">-->
<!--                  <a class="page-link" href="#">Następna</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </nav>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </section>
</div>
