<div class="background">
  <app-filtr></app-filtr>
  <section class="block">
    <div class="container">
      <div class="row">
        <div class="login-sec">
          <h3>Ogłoszenia</h3>
          <div class="pt-3">
            <div class="row announcement-board">
              <img
                src="https://images.pexels.com/photos/451590/pexels-photo-451590.jpeg?cs=srgb&dl=pexels-jeshootscom-451590.jpg&fm=jpg"
                class="announcement-image col-3" alt="...">
              <div class="col-9">
                <div class="row">
                  <h4 class="col-8">Title</h4>
                  <p class="col-3 price">Cena: 50 000zł</p>
                  <p>Marka Model</p>
                  <p>Rok produkcji, przebieg, Pojemność silnika, paliwo</p>
                  <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-4 ">
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Wcześniejsza</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Następna</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
