.announcement-image{max-height:200px; object-fit: contain; border-radius: 25px 25px 25px 25px; padding:0;}
.announcement-image img{max-height:200px; object-fit: fill;}
.price{
  font-weight: bold;
  font-size: 1.5em;
  text-align: right;
}
.announcement-board{
  background:#fff; border-radius: 10px; box-shadow:5px 5px 5px rgba(0,0,0,0.1);
  padding: 5px;
}

.announcement-board:hover{
  background: #bbbbbb;
}
.background{
  background: #DE6262 !important;
  background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262) !important;
  background: linear-gradient(to bottom, #FFB88C, #DE6262) !important;
  float:left;
  width:100%;
  padding : 50px 0;
}

.block{
  float:left;
  width:100%;
}

agm-map {
  height: 300px;
}

